body,html{
    margin: 0;
    font-family: Sintony;
}
.container-fluid{
    margin: 0;
}
.container{
    display: flex;
    margin: 0 17.5%;
}

@import "../content/navbar";
@import "../home-page/home-page";
@import "../menu-page/menu";
@import "../blog/main-blog";
@import "../about-us/about-us";
@import "../content/specially";
@import "../content/opening-hours";
@import "../content/footer";


