
extends ./views/common
block content
    include ./views/home-page/carousel
    include ./views/home-page/contact-carousel
    include ./views/home-page/about-restaurant
    include ./views/home-page/today-special
    include ./views/home-page/food-menu
    include ./views/home-page/happy-client