<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.2/css/all.css', crossorigin='anonymous')
        link(rel="stylesheet", href="./access/css/style.css")
        title Luxury Restauran
    body
        nav.container.navbar
            .navbar-logo
                img(src="./image/logo.png", alt="logo")
            ul
                a(href="#") home
                a(href="#") menu
                a(href="#") reservation
                a(href="#") recipe
                a(href="#") blog
                a(href="#") pages
                a(href="#") contact
            .navbar-cart
                i.far.fa-shopping-cart
                i.fas.fa-caret-down
            .navbar-book-table
                button(type="submit")
                    img(src="./image/food-drink.png", alt="")
                    | book your table

        block content
            
            
                    


    