
extends ./common/common
block content
    include ./home-page/carousel
    include ./home-page/contact-carousel
    include ./home-page/about-restaurant
    include ./home-page/today-special
    include ./home-page/food-menu
    include ./home-page/happy-client
    include ./home-page/reserve-table