@import "../content/menu";

.grid{
    display: block;
    padding: 2rem 0;
    border-top: 1px solid #e9e9e9;;
    .heading{
        h3{
            @include h3();
        }
    }
    .menu-grid{
        @include menu-grid();
    }
    .food-button{
        display: flex;
        justify-content: center;
        padding: 1rem;
        .btn{
            @include btn();
            padding: 0.5rem 1rem ;
        }
    }
}


