section.container.about-restaurant
    .about-restaurant-info
        h4 About Restaurant
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta magni eius, illo, ex sit accusantium corrupti quae dolorum eveniet qui incidunt id fugiat pariatur doloremque doloribus adipisci? Reprehenderit, non velit.
        .read-more
            button.btn(type='submit') read more
            img(src="../awardlogo.png", alt="")
    .image-info
        img(src="../image.png", alt="")
        img(src="../image.png", alt="")
        img(src="../image.png", alt="")
        img(src="../image.png", alt="")
        