section.carousel
    #carousel.owl-carousel.owl-theme
        .item
            img(src="https://www.luxuryrestaurantguide.com/imgCar/LRGCar01.jpg", alt="")
        .item
            img(src="https://www.luxuryrestaurantguide.com/imgCar/LRGCar05.jpg", alt="")
        .item
            img(src="https://www.luxuryrestaurantguide.com/imgCar/LRGCar02.jpg", alt="")
        .item
            img(src="https://www.luxuryrestaurantguide.com/imgCar/LRGCar03.jpg", alt="")