section.contact-carousel
    .container
        .explore-food
            img(src="../explore foodmenu.png", alt="")
        .read-review
            i.far.fa-comments
            .review-content
                p read
                p review
            .next-review
                i.fas.fa-caret-right
        .call-us
            .call-content
                .phone-icon
                    i.fas.fa-phone-volume
                .content
                    p call us now for
                    p home delivery
            .phone
                p + 012345868
