section.contact-carousel
    .container
        .explore-food
            img(src="./image/explore foodmenu.png", alt="")
        .read-review
            i.fal.fa-phone-volume
            .review-content
                p read
                p review
            .next-review
                i.fas.fa-caret-right
        .call-us
            .call-content
                .phone-icon
                    i.fal.fa-phone-volume
                .content
                    p call us now for
                    p home delivery
            p.phone-number + 012345868
