section.container-fluid.food-menu
    .heading
        h3.title food menu
        img.img-left(src="../imageleft.png", alt="")
       
        img.img-right(src="../imageright.png", alt="")
        
    .tab
        .tab-item
            img.img-item(src="../icon_all.png", alt="")
            p all
        .tab-item
            img.img-item(src="../icon_breakfast.png", alt="")
            p breakfast
        .tab-item
            img.img-item(src="../icon_lunch.png", alt="")
            p lunch
        .tab-item
            img.img-item(src="../icon_snacks.png", alt="")
            p snack
        .tab-item
            img.img-item(src="../icon_pizza.png", alt="")
            p pizza
        .tab-item
            img.img-item(src="../icon_soups.png", alt="")
            p soup
        .tab-item
            img.img-item(src="../icon_dinner.png", alt="")
            p dinner
    .container.menu-list
        .list-item
            .item-inner
                h4 ultimate organic fruit salad
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            .price
                i.fas.fa-dollar-sign
                p 80.00
        .list-item
            .item-inner
                h4 ultimate organic fruit salad
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            .price
                i.fas.fa-dollar-sign
                p 80.00
        .list-item
            .item-inner
                h4 ultimate organic fruit salad
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            .price
                i.fas.fa-dollar-sign
                p 80.00
        .list-item
            .item-inner
                h4 ultimate organic fruit salad
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            .price
                i.fas.fa-dollar-sign
                p 80.00
        .list-item
            .item-inner
                h4 ultimate organic fruit salad
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            .price
                i.fas.fa-dollar-sign
                p 80.00
        .list-item
            .item-inner
                h4 ultimate organic fruit salad
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            .price
                i.fas.fa-dollar-sign
                p 80.00
        .list-item
            .item-inner
                h4 ultimate organic fruit salad
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            .price
                i.fas.fa-dollar-sign
                p 80.00
        .list-item
            .item-inner
                h4 ultimate organic fruit salad
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            .price
                i.fas.fa-dollar-sign
                p 80.00
    .food-button
        button.btn(type='submit') explore food menu