.container-fluid.happy-client(style='background-image: url(../-background.png)')
    .heading
        h3 happy client
        img.img-left(src="../explore foodmenu.png", alt="")
    #happy-cilent.owl-carousel.info-client
        .item
            span
                p Lorem, ipsum dolor sit amessssssssssssssssssssssssssssssst Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate animi ducimus cupiditate excepturi quibusdam. Quo incidunt, accusantium esse, totam quam quasi vero itaque illum eveniet ad, velit vitae! Voluptatem, ipsum. consectetur adipisicing elit. Magnam, minus odit. 
        .item
            span
                p Lorem, ipsum dolor sit amet consectetur adipisicisssssssssssssssssssssssng elit. Magnam, minus odit. 
        .item
            span
                p Lorem, ipsum dolor sit amet consectetur adipisicingsssssssssssssssssssssss elit. Magnam, minus odit. 
        .item
            span
                p Lorem, ipsum dolor sit amet consectetur adssssssssssssssssssssssssssssipisicing elit. Magnam, minus odit. 
