section.container-fluid.backgroud-content
    img(src="", alt="")
section.container.today-special
    .special-container
        .today-title
            h3 Today special
        .today-content
            .today-item
                img(src="./image/-image.png", alt="")
                .today-food
                    h4 food name
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut, fugit laudantium. Dolore ipsum reiciendis ut neque expedita a dolor eveniet consequatur? Quisquam amet quas eaque aut. Veritatis ullam obcaecati molestias!
                .today-info
                    .info
                        .name
                            p home
                            p delivary
                        .phone
                            p 12345678
                    .price
                        i.fas.fa-dollar-sign
                        p 80.00
            .today-item
                img(src="./image/-image.png", alt="")
                .today-food
                    h4 Food Name
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut, fugit laudantium. Dolore ipsum reiciendis ut neque expedita a dolor eveniet consequatur? Quisquam amet quas eaque aut. Veritatis ullam obcaecati molestias!
                .today-info
                    .info
                        .name
                            p home
                            p delivary
                        .phone
                            p 12345678
                    .price
                        i.fas.fa-dollar-sign
                        p 80.00