section.container.menu-title
    .heading
        h3 menu tite views
    .list-views
        mixin list-views
            .list-title
                img.img(src="../image-title.png", alt="")
                .views
                    .item-inner
                        span ultimate organic fruit salad
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    .price
                        i.fas.fa-dollar-sign
                        p 80.00
        +list-views
        +list-views
        +list-views
        +list-views
        +list-views
        +list-views
        +list-views
        +list-views
