extends ./common/common
block content
    .container.menu-list
        .item
            img(src="", alt="")
            .info-item
                .info-item-name
                    h4 Lorem ipsum dolor sit amet.
                    p Lorem ipsum dolor sit amet consectetur adipisicing.
                .info-item-price
                    i.fas.fa-dollar-sign
                    p 80.00

            