
extends ../common/common
block content
    section.container-fluid
        .banner
            img(src="", alt="")
        .heading
            p.title menu grid view
        .tab
            //- mixin tab-item
            mixin tab-item(scr,title)
                .tab-item
                    img.img-item(src=scr, alt="")
                    p= title
            //- mixin tab-item
            +tab-item("../icon_all.png", 'all')
            +tab-item("../icon_breakfast.png", 'breakfast')
            +tab-item("../icon_lunch.png", 'lunch')
            +tab-item("../icon_snacks.png", 'snack')
            +tab-item("../icon_pizza.png", 'pizza')
            +tab-item("../icon_soups.png", 'soup')
            +tab-item("../icon_dinner.png", 'dinner')
    section.container.menu
        .menu-grid 
            //- mixin grid-item
            mixin grid-item
                .grid-item
                    .image 
                        img(src="../image-menu.png", alt="")
                    .info-item
                        .info-item-name
                            h4 Lorem ipsum dolor
                            p Lorem ipsum dolor sit amet consectetur adipisicing.
                        .info-item-price
                            i.fas.fa-dollar-sign
                            p 80.00
            //- mixin grid-item
            +grid-item
            +grid-item
            +grid-item
            +grid-item
            +grid-item
        .food-button
            button.btn(type='submit') explore food menu
        