section.container.list
    .heading
        h3 menu list
    .menu-list    
        //- mixin list-item
        mixin list-item
            .list-item
                .item-inner
                    span ultimate organic fruit salad
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                .price
                    i.fas.fa-dollar-sign
                    p 80.00
        //- mixin list-item

        +list-item
        +list-item
        +list-item
        +list-item
        +list-item
        +list-item
        +list-item
        +list-item