section.container.our-history
    h3 our history
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quos qui totam obcaecati commodi alias labore repudiandae ex omnis repellendus quas architecto beatae illo quia incidunt, ipsum aperiam necessitatibus laborum? Laudantium voluptatibus sint ducimus magnam doloribus recusandae commodi aliquid blanditiis obcaecati laboriosam? Pariatur sint quo quos laborum eveniet accusantium inventore?
    .video
        video(src="https://www.youtube.com/watch?v=oMcIcEiOtmc", frameborder="0")
        span our video