section.container-fuild.our-cooks(style='background: url(../background_pattern.png)')
    .our-cook
        h3 our cooks
        #our-cooks.owl-carousel.owl-theme
            .item
                img(src="../about-us.png", alt="")
                .cheff-name cheff.john
            .item
                img(src="../about-us.png", alt="")
                .cheff-name cheff.john
            .item
                img(src="../about-us.png", alt="")
                .cheff-name cheff.john
            .item
                img(src="../about-us.png", alt="")
                .cheff-name cheff.john
            .item
                img(src="../about-us.png", alt="")
                .cheff-name cheff.john
