@import "../mixin/mixin";

.about-restaurant{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 3rem 0;
    .about-restaurant-info{
        flex: 1;
        padding: 1rem 0;
        h3{
            @include h3();
        }
        p{
            color: $text_color;
        }
        .read-more{
            display: flex;
            align-items: center;
            .btn{
                margin-right: 3rem;
                @include btn();
                padding: 0.5rem 1rem;
            }
            img{
                width: 8.5rem;
                align-items: center;
            } 
        }
    }
    .image-info{
        flex: 1;
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 1rem;   
        img{
            width: 13rem;
            margin: 0 0.5rem 0.5rem 0;
            &:nth-child(2),
            &:nth-child(4){
                float: right;
                margin-top: -2rem;
            }
        }
    }
}