@import "../mixin/mixin";
.carousel{
    #carousel{
        position: relative;
        &.owl-carousel{
            position: relative;
            .item img{
                display: block;
                width: 100%;
                height: auto;
            }
        }
        .owl-theme{
            .owl-dots{
                position: absolute;
                top: 50%; 
                .owl-dot{
                    display: block;
                    span{
                        background: $btn_background;
                    }
                }
            }
        }

    }
    
}