@import "../mixin/mixin";
@import "../content/menu";

.food-menu{
    padding: 2rem 0;
    .heading{
        display: flex;
        justify-content: space-between;
        height: 3rem;
        position: relative;
        .title{
            @include h3();
            width: 100%;
            text-align: center;

        }
        img{
            position: absolute;
        }
        .img-left{
            width: 13%;
            height: auto;
            left: 0;
            top: 0;
        }
        
        .img-right{
            width: 15%;
            height: auto;
            right: 12%;
            bottom: 2rem;
        }
    }
    .tab{
        @include tab();
    }  
    .menu-list{
        @include menu-list();
    } 
    .food-button{
        display: flex;
        justify-content: center;
        padding: 1rem;
        .btn{
            @include button();
        }
    }
}