<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.2/css/all.css', crossorigin='anonymous')
        link(rel="stylesheet", href="../css/main-style/style.css")
        title Luxury Restauran
    body
        nav.container.navbar
            .navbar-logo
                img(src="../logo.png", alt="logo")
            ul
                a(href="/") home
                a(href="/menu") menu
                a(href="/") reservation
                a(href="/") recipe
                a(href="/") blog
                a(href="/") pages
                a(href="/") contact
            .navbar-cart
                i.fas.fa-shopping-cart
                i.fas.fa-caret-down
            .navbar-book-table
                button(type="submit")
                    img(src="../food-drink.png", alt="")
                    | book your table

        block content

        footer.container-fluid.footer
            .container.footer-content
                .navigation
                    h3 navigation
                    ul
                        li home
                        li about us
                        li menu
                        li reservation
                        li recipe
                        li blog
                        li contact us
                .new-letter
                    h3 new letter
                    p Lorem ipsum dolor sit amet consectetur adipisicing.
                    form(action="")
                        .input-group
                            input(type="text" placeholder="Email Address")
                            button(type="submit") subscibe
                            i.fas.fa-envelope
                    .icon-connect
                        i.fab.fa-facebook-f
                        i.fab.fa-twitter
                        i.fab.fa-google-plus-g
                .our-app
                    h3 our app available
                    a.app-store
                        i.fab.fa-apple
                        .info
                            p availibale on the 
                            p app store
                    a.google-play
                        i.fab.fa-google-play
                        .info
                            p get it on
                            p google play
            .container.copyright copyright
            
            
                    


    