body,html{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.container-fluid{
    margin: 0;
}
.container{
    display: flex;
    margin: 0 17.5%;
}

@import "_navbar.scss";
@import "_carousel.scss";
@import "_contact-carousel.scss";
@import "_about-restaurant.scss";
@import "today-special";
@import "food-menu";


