$btn_background: #ffa600fa;
$bg_speciality: #ecf1f4;

//- color
$text_color: #5c6369;
$title_color: #14141d;

//- font size
$big_title_size: 2rem;
$content_size: 1.5rem;
$title_size: 1rem;
$text_size: 0.9rem;

$line_color: #eeeeee;
// button
@mixin btn {
    border: none;
    text-transform: uppercase;
    background: $btn_background;
    border-radius: 5px;
    font-size: $text_size;
    width: fit-content;
    outline: none;
    color: white;
}

//--info
@mixin name($color) {
    display: block;
    border-right: 1px solid gray;
    margin: 0 1rem;
    p{
        margin: 0;
        padding-right: 1rem;
        text-transform: uppercase;
        font-weight: 900;
        font-size: $text_size;
        &:nth-child(2){
            color: $color;
            font-size: $title_size;
        }
    }
}
@mixin phone {
    p{
        // margin: 0 1rem;
        font-size: 20pt;
        font-weight: 900;
    }
}

@mixin info() {
    display: flex;
    align-items: center;

}

//-- title
@mixin h3 {
    margin: 0.5rem 0;
    text-transform: capitalize;
    font-size: $big_title_size;
    color: $title_color;
    
}
@mixin title($color) {
    text-align: center;
    font-weight: 900;
    font-size: $title_size;
    color: $color;
    
}
@mixin span-title {
    color: $title_color;
    font-size: $content_size;
    font-weight: 700;
    text-transform: capitalize;
}