extends ../common/common
block content
    section.container.b-2c
        .l-content
            iframe#youtube(width='100%', height='270', src='https://www.youtube.com/embed/WX7dUj14Z00?showinfo=0', frameborder='0', allowfullscreen='')
        .r-content
            include ./category
            include ./recent-post
            include ./archive