.category  
    span category
    .category-item
        mixin item
            .c-i
                .r-btn
                    i.fas.fa-angle-right
                .c-n all foods
        
        +item
        +item
        +item
        +item