.user_comment
	.comment_contents
		.comment_post
			.comment_img
				img(src="https://scontent.fdad3-2.fna.fbcdn.net/v/t1.0-9/18698351_809628569202355_4449543781847393010_n.jpg?_nc_cat=107&_nc_oc=AQlkAsgY6mP4eSGuAoW6_UKS1B10xXEeJ4yt3yCl4s7U5DZ7QFwwEjtltRFFUjeu1r4&_nc_ht=scontent.fdad3-2.fna&oh=67f19ce36cb5d96a425cf64dc72442bc&oe=5DB1BE19")
			.comment_details
				p
					span.comment_author aaaaa
					span.comment_time 20m ago
				p.comment_content Lpsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				.comment_reply
					p
						i.fa.fa-reply 
						span._reply Reply
		.comment_post.-reply
			.comment_img
				img(src="https://scontent.fdad3-2.fna.fbcdn.net/v/t1.0-9/18698351_809628569202355_4449543781847393010_n.jpg?_nc_cat=107&_nc_oc=AQlkAsgY6mP4eSGuAoW6_UKS1B10xXEeJ4yt3yCl4s7U5DZ7QFwwEjtltRFFUjeu1r4&_nc_ht=scontent.fdad3-2.fna&oh=67f19ce36cb5d96a425cf64dc72442bc&oe=5DB1BE19")
			.comment_details
				p
					span.comment_author aaaaa
					span.comment_time 20m ago
				p.comment_content Lpsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				.comment_reply
					p
						i.fa.fa-reply 
						span._reply Reply
		.comment_post
			.comment_img
				img(src="https://scontent.fdad3-2.fna.fbcdn.net/v/t1.0-9/18698351_809628569202355_4449543781847393010_n.jpg?_nc_cat=107&_nc_oc=AQlkAsgY6mP4eSGuAoW6_UKS1B10xXEeJ4yt3yCl4s7U5DZ7QFwwEjtltRFFUjeu1r4&_nc_ht=scontent.fdad3-2.fna&oh=67f19ce36cb5d96a425cf64dc72442bc&oe=5DB1BE19")
			.comment_details
				p
					span.comment_author aaaaa
					span.comment_time 20m ago
				p.comment_content Lpsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				.comment_reply
					p
						i.fa.fa-reply 
						span._reply Reply