extends ../common/common
block content
    section.container.blog-col-2
        .blog
            iframe#youtube(width='100%', height='270', src='https://www.youtube.com/embed/WX7dUj14Z00?showinfo=0', frameborder='0', allowfullscreen='')
            //- block
            .blog-item 
                //- block_element
                .blog_date
                    ._date
                        p._dd 22
                        p._mm-yy nov-12
                .blog_content
                    .content-item
                        span._title Archive asdsd ddd dss
                        p._desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.
                    .blog-footer
                        ._read-like
                            button(onclick="window.location.href='./blog-detail'").btn.-read-more read more
                            ._like
                                ._icon.-like
                                    i.far.fa-heart
                                ._number 
                                    p 55
                        ._share
                            ._icon.-share
                                i.fas.fa-share-alt
                            ._icon.-fb
                                i.fab.fa-facebook-f
                            ._icon.-tw
                                i.fab.fa-twitter
                            ._icon.-gg
                                i.fab.fa-google-plus-g
            include ./pagination                   
        .sidebar
            include ./category
            //- include ./recent-post
            include ./archive
            include ./tags