.recent-post
    span recent post
    .recent-item
        mixin item
            .r-i
                img(src="../2-layers.png", alt="")
                .re-it
                    p.ti 08-nov-2018
                    p.n-i Lorem ipsum dolor sit amet consectetur
        +item
        +item
        +item
        +item
        
            
