.recent-post
    span recent post
    
    ul#post.owl-carousel.owl-theme
        mixin post
            li.post
                img(src="../2-layers.png", alt="")
                .re-it
                    p.date 08-nov-2018
                    p.n-i Lorem ipsum dolor sit amet consectetur
        +post
        +post

        
            
