@import "../mixin/responsive";
@import "../mixin/mixin";
.navbar{
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    display: grid;
    grid-template-columns: 20% 55% 5% 20%;
    align-items: center;
    height: 4rem;
    .navbar-logo{
        img{
            width: 90%;
        } 
    }
    ul{
        display: flex;
        padding: 0;
        align-items: center;
        margin: 0;
        a{
            text-decoration: none;
            padding: 0.5rem;
            font-size: 11pt;
            color: #2c465a;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    .navbar-cart{
        display: flex;
        justify-content: center;
    }
    .navbar-book-table{
        display: flex;
        justify-content: center;
        background-color: #fea100;
        border-radius: 5px;
        width: fit-content;
        .btn{
            @include btn();
            display: flex;
            margin: 0.1rem;
            align-items: center;
            border: 1px solid white;
            padding: 0.3rem 1rem;
            color: white;
            img{
                width: auto;
                margin-right: 0.5rem;
            }
        }
    }
}
